* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.home-heading {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: black;
  height: auto;
  padding: 80px;
}
.mycaousel {
  width: 500px;
  height: 100px;
  margin-left: 51px;
}
.home-content {
  float: right;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  box-shadow: 4px 4px 4px 4px lightgray;
}

.to-check {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  height: 100vh;
  width: 100%;
}
.admin {
  background-color: white;
}
.login {
  border: 1px solid;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main {
  height: 500px;
  width: 400px;
}
.form-box {
  height: auto;
  width: 100%;
  height: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  margin: 20px;
  height: auto;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 50px;
}
.form {
  padding: 20px;
}
#admin-login-heading {
  text-align: center;
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 10px 10px 0px 0px;
  background-color: #dc3545;
}
#user-login-heading {
  text-align: center;
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(255, 193, 7);
}
.admin-btn {
  background-color: #dc3545;
  border: 0px;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  width: 100%;

  border-radius: 10px;
}
.user-btn {
  background-color: rgb(255, 193, 7);
  border: 0px;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  width: 100%;

  border-radius: 10px;
}
.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 193, 7);
  border-radius: 10px;
  height: 50px;
  width: auto;
  margin: 10px 10px 0px 10px;
  background-color: #fff1f3;
}
.admin-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.user-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.aboutus-card{
  margin-top: 125px;
}

#github-link-button{
  background-color: black;
  color: white;
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 18px;

}
#linkedin-link-button{
  background-color: #00639b;
  color: white;
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 18px;

}

#footer {
  margin-top: auto;
}



/* user block css */

.user-dashboard{
  background-color: #f4f4f4;
}

.user-dheading{
  margin: 0px;
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
}
.user-dheading > h1{
  font-size: 25px;
  font-weight: 700;
  color: #667eea;
  text-align: center;

}

.user-hsmall-text{
text-align: center;
}

.user-dnav{
  margin-left: 26.5%;
}

.user-dMainBox{
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0px 30px 0px 30px;
  flex-wrap: wrap;
  margin-top:20px ;
  gap: 30px;
  
}

.user-dMainBox > div{
  height: 160px;
  width: 250px;
  margin: 10px 0px 10px 0px;
  background-color: white;
  box-shadow: 5px 2px 5px 2px lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;

} 

.user-dMainBox > div:hover{
 transform: translateY(-10px);
}

.user-small-txt{
  text-align: center;
}

.user-numbers >h1{
  color: #667eea;
  font-size: 50px;  
}
.user-search-box {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.user-internal-box{
  height: auto;
  width: 82%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 2px 5px 2px lightgray;
  padding: 10px;
}

.user-internal-box > div{
  height: auto;
  width: 355px;

  padding: 10px 1px 10px 1px;
} 

.user-form{
  width: 100%;
  border: 0.5px solid lightgray;
  padding: 8px;
  border-radius: 10px;
}

.user-cat-lab{
margin-top: 38px;
}

.user-srcbx-btn > button{
  border: 1px solid;
  padding:8px;
  border-radius: 10px;
  margin-top: 62px;
}

.user-latest-book {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px;

}
.user-book-box{

  border-radius: 10px;
  padding: 10px;
  width: 335px;
  height: auto;
  background-color: white;
  box-shadow: 5px 2px 5px 2px lightgray;
  transition: transform 0.3s ease-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-book-box:hover{
 transform: translateY(-10px);  
}